@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins' ,sans-serif;
}

h1:hover{
    cursor: pointer;
}
body{
    background:rgba(50, 50, 50, 0.539) url(../images/login1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
}
.box{
    margin-top:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.container1{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
.span{
    color: #ffffffa0;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.header{
    color:#0e0e0ee3;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 45px;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color:#fbfcfcfd;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(70, 66, 66, 0.463);
    outline: none;
}
::placeholder{
    color: white;
}
i{
    position: relative;
    top: -35px;
    left: 17px;
    color:#0f0e0e94;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.452);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color:#faf9fafd;
}

.hidden{
    color: rgba(252, 5, 5, 0.9);
    font-size: small;
}